<div class="form">
  <h2>Add product</h2>
  <div class="form-control">
    <label>Type</label>
    <select [(ngModel)]="addProductModel.type"
            [ngClass]="{'custom-invalid': isInvalid() && !addProductModel.type && isCheckRequiredFields}">
      <option value="phone">Phone</option>
      <option value="tablet">Tablet</option>
      <option value="laptop">Laptop</option>
    </select>
  </div>
  <div class="form-control">
    <label for="name">Name</label>
    <input id="name" type="name" [(ngModel)]="addProductModel.name" autocomplete="off"
           [value]="''"
           [ngClass]="
           {'custom-invalid': isInvalid()
           && !this.addProductModel.name && isCheckRequiredFields}">
  </div>
  <div class="form-control">
    <label for="price">Price</label>
    <input id="price" type="price" [(ngModel)]="addProductModel.price" autocomplete="off"
           [value]="''"
           [ngClass]="
           {'custom-invalid': isInvalid()
           && !this.addProductModel.price && isCheckRequiredFields}">
  </div>
  <div class="form-control">
    <label>Photo</label>
    <div>
      <quill-editor [(ngModel)]="addProductModel.photo"></quill-editor>
      <small *ngIf="isInvalid() && !this.addProductModel.photo && isCheckRequiredFields">
        Add photo
      </small>
    </div>
    <div class="form-control">
      <label>Information</label>
      <quill-editor [(ngModel)]="addProductModel.information"></quill-editor>
      <small *ngIf="isInvalid() && !this.addProductModel.information && isCheckRequiredFields">
        Add information
      </small>
    </div>
    <button type="button" (click)="submit($event)" class="btn btn-primary btn-block">
      Add
    </button>
  </div>
